html
	head
		title micro:bit movement
		link(rel="stylesheet",type="text/css",href="style.css")
	body
		.box.band0
		.box.band1
		.box.band2
		.box.band3
		.speed
		script(src="/socket.io/socket.io.js")
		script(src="index.js")
